    <ul class="post-titles-list">
      <li class="post-title-list-item" data-index="{{_id}}">TITLE{{title}}</li>
      <li class="post-title-list-item" data-index="{{_id}}">TITLE{{title}}</li>
      <li class="post-title-list-item" data-index="{{_id}}">TITLE{{title}}</li>
    </ul>
